 
    .dg-banner-main-block{
        padding: 36px 0 20px;
        @include media-breakpoint-down(md){
            padding: 15px 0 20px;
        }
        .row{
            display: flex;
            align-items: center;
        }
        .dg-banner-img-block{
            background: $primary;
            padding: 35px 0 0 35px;
            background: rgba( 24, 0, 185 , 0.1);
            @include media-breakpoint-down(md){
                padding: 28px 0 0 28px;
            }
            @include media-breakpoint-down(sm){
                padding: 20px 0 0 20px;
                height: 280px;
                overflow: hidden;
            }
            .dg-img-block{
                max-width:  100%;
                img{
                    width: 100%;
                }
            }
        }
        .dg-banner-details-block{
            margin-left: 70px;
            @include media-breakpoint-down(xl){
                margin-left: 50px;
            }
            @include media-breakpoint-down(lg){
                margin-left: 30px;
            }
            @include media-breakpoint-down(sm){
                margin-top: 28px;
                margin-left: 15px;
            }  
            h1{
                margin-bottom: 74px;
                @include media-breakpoint-down(lg){
                    margin-bottom: 55px;
                } 
                @include media-breakpoint-down(md){
                    margin-bottom: 30px;
                }
            }
        }
        .dg-scroll-down-block{
            display: flex;
            justify-content: center;
            padding-top: 118px;
            @include media-breakpoint-down(sm){
                padding-top: 85px;
            }
            .dg-scroll-icon{
                font-size: 14px;
                font-weight: 400;
                color: $light-gray;
                transition: all 0.3s ease-in-out;
                display: inline-block;
                position: relative;
                &::after{
                    position: absolute;
                    content: '';
                    background: url(../images/mouse.svg) no-repeat;
                    background-size: cover;
                    width: 25px;
                    height: 38px;
                    right: 0;
                    left: 0;
                    margin: auto;
                    bottom: 37px;
                    @include media-breakpoint-down(sm){
                        width: 17px;
                        height: 25px;
                        bottom: 30px;
                    }
                }
                &:hover{
                    color: $primary;
                }
            }
        }
        .dg-top-images-fix{
            position: absolute;
            top: 20px;
            left: 500px;
            -webkit-animation-timing-function: linear;
            /* Safari 4.0 - 8.0 */
            animation: dg-top-images-fix 5s infinite;
            animation-timing-function: linear;
            @include media-breakpoint-down(lx){
                top: 20px;
                left: 320px;
            }
            @include media-breakpoint-down(lg){
                left: 260px;
                display: block;
            }
            @include media-breakpoint-down(md){
                display: none;
            }
            &::before{
                position: absolute;
                content: '';
                background: url(../images/shape-big.svg)no-repeat;
                background-size: cover;
                width: 230px;
                height: 214px;
                @include media-breakpoint-down(xl){
                    width: 190px;
                    height: 144px;
                }
            }
        }
        @keyframes dg-top-images-fix {
            0% {
                left: 22%;
            }
            50% {
                left: 24%;
                  
            }
            100% {
                left: 22%;
                  
            }
        }
        .dg-rightside-images{
            position: relative;
            -webkit-animation-timing-function: linear;
            /* Safari 4.0 - 8.0 */
            animation: dg-rightside-images 5s infinite;
            animation-timing-function: linear;
            &::before{
                position: absolute;
                content: '';
                background: url(../images/shape-small.svg)no-repeat;
                background-size: cover;
                width: 110px;
                height: 214px;
                left: 15px;
                @include media-breakpoint-down(md){
                    width: 90px;
                    height: 194px;
                    left: 10px;
                }
                @include media-breakpoint-down(sm){
                    top: -435px;
                    z-index: -1;
                }
            }
            &::after{
                position: absolute;
                content: '';
                background: url(../images/text-image.svg)no-repeat;
                background-size: contain;
                width: 118px;
                height: 410px;
                right: 0px;
                bottom: -100px;
                @include media-breakpoint-down(lg){
                    bottom: -180px;
                }
                @include media-breakpoint-down(md){
                    width: 88px;
                    height: 290px;
                }
                @include media-breakpoint-down(sm){
                    bottom: -20px;
                }
            }
        }
        // @keyframes dg-rightside-images {
        //     0% {
        //         transform: translateY(-40px);
                 
        //     }
        //     50% {
        //         transform: translateY(0px);
        //     }
        //     100% {
        //         transform: translateY(-40px);
        //     }
        // }
    }
    .dg-lesus-section{
        padding: 84px 0 100px;
        @include media-breakpoint-down(md){
            padding: 64px 0 90px;
        }
        @include media-breakpoint-down(sm){
            padding: 44px 0 60px;
        }
        .dg-top-images-fix{
            position: relative;
            -webkit-animation-timing-function: linear;
            /* Safari 4.0 - 8.0 */
            animation: dg-rightside-images 5s infinite;
            animation-timing-function: linear;
            &::before{
                position: absolute;
                content: '';
                background: url(../images/shape-big.svg)no-repeat;
                background-size: cover;
                width: 230px;
                height: 214px;
                right: 0;
                bottom: -45px;
                @include media-breakpoint-down(md){
                    height: 84px;
                    bottom: -95px;
                }
                @include media-breakpoint-down(sm){
                    height: 214px;
                    bottom: -125px;
                    width: 100px;
                    z-index: -1;
                }
            }
        }
        .dg-lesus-assist-title{
            text-align: center;
            margin-bottom: 74px;
            @include media-breakpoint-down(md){
                margin-bottom: 54px;
            }
            @include media-breakpoint-down(sm){
                margin-bottom: 25px;
            }
        }
        .dg-process-block-main{
            .dg-arrow-left-side{
                position: relative;
                margin-top: 287px;
                -webkit-animation-timing-function: linear;
                /* Safari 4.0 - 8.0 */
                animation: dg-boxs-animatios 6s infinite;
                animation-timing-function: linear;
                @include media-breakpoint-down(md){
                    margin-top: 235px;
                    display: block;
                }
                @include media-breakpoint-down(sm){
                   display: none;
                }
                &::after{
                    position: absolute;
                    content: '';
                    background: url(../images/arrow-left-side.svg) no-repeat;
                    background-size: cover;
                    width: 150px;
                    height: 150px;
                    bottom: 30px;
                    right: 20px;
                    transform: rotate(175deg);
                    -webkit-transform: rotate(175deg);
                    
                    @include media-breakpoint-down(md){
                        width: 120px;
                        height: 120px;
                    }
                }
                &.dg-arrow-right{
                    &::after{
                        left: 20px;
                        -webkit-transform: rotate(-80deg);
                        transform: rotate(-88deg);
                    }
                }
            }
            .dg-process-details-box{
                border: 3px solid $border-color;
                text-align: center;
                padding: 44px;
                background: $white;
                position: relative;
                z-index: 1;
                -webkit-animation-timing-function: linear;
                /* Safari 4.0 - 8.0 */
                animation: dg-boxs-animatios 6s infinite;
                animation-timing-function: linear;
                .dg-small-title{
                    @include media-breakpoint-down(sm){
                        width: 163px;
                        margin: auto;
                        text-align: start;
                    }
                }
            }
            @keyframes dg-boxs-animatios {
                0% {
                    transform: translateY(-30px);
                     
                }
                50% {
                    transform: translateY(0px);
                }
                100% {
                    transform: translateY(-30px);
                }
            }
            .dg-up-arrow-and-down-arrow{
                position: relative;
                padding: 50px 0;
                display: none;
              
                @include media-breakpoint-down(sm){
                    display: block;
                }
                &::after{
                    position: absolute;
                    content: '';
                    top: 0;
                    right: 0;
                    left: 0;
                    background: url(../images/new-arrow.svg)no-repeat;
                    background-size: cover;
                    width: 10px;
                    height: 70px;
                    bottom: 0;
                    margin: auto;
                }
            }
        }
    }
    .dg-the-worldis-changing-section{
        background: url(../images/world-img.png)no-repeat;
        background-size: cover;
        padding: 90px 0;
        position: relative;
        width: 100%;
        @include media-breakpoint-down(md){
            padding: 90px 0 50px;
        }
        @include media-breakpoint-down(sm){
            padding: 60px 0 50px;
        }
        &::after{
            position: absolute;
            content: '';
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: rgba(34,15,164,0.70);
        }
        &::before{
            position: absolute;
            content: '';
            background: url(../images/shape-small.svg)no-repeat;
            background-size: cover;
            width: 110px;
            height: 214px;
            left: 15px;
            z-index: 1;
            top: 20px;
            -webkit-animation-timing-function: linear;
            /* Safari 4.0 - 8.0 */
            animation: dg-rightside-images 5s infinite;
            animation-timing-function: linear;
            @include media-breakpoint-down(sm){
                width: 72px;
                height: 148px;
            }
        }
        .dg-world-details-block{
            text-align: center;
            position: relative;
            z-index: 1;
            .dg-subtitle{
                color: $white;
                margin-bottom: 70px;
                @include media-breakpoint-down(md){
                    margin-bottom: 50px;
                }
                @include media-breakpoint-down(sm){
                    margin-bottom: 40px;
                }
            }
            .dg-small-title{
                color: $white;
                max-width: 1080px;
                margin: auto;
                font-style: italic;
                font-weight: 200;
               
            }
            .dg-paragraph-text{
                color: $white;
                max-width: 570px;
                margin: auto;
                padding: 27px 0;
                font-style: italic;
                font-weight: 200;
            }
        }
        .dg-amount-details-block{
            position: relative;
            z-index: 1;
            padding-top: 79px;
            @include media-breakpoint-down(md){
                padding-top: 59px;
            }
            @include media-breakpoint-down(sm){
                padding-top: 48px;
            }
            .col-md-4{
                display: flex;
            }
            .dg-amount-box{
                background: $white;
                padding: 45px 35px 28px;
                text-align: center;
                box-shadow: 0 0 40px 35px rgba(24,0,185,0.29);
                margin-bottom: 20px;
                width: 100%;
                @include media-breakpoint-down(lg){
                    padding: 45px 20px 28px;
                }
                @include media-breakpoint-down(md){
                    padding: 20px;
                }
                @include media-breakpoint-down(sm){
                    padding: 35px;
                }
                h4{
                    color: $full-gray;
                    font-size: 27px;
                    font-style: italic;
                    line-height: 34px;
                    font-weight: 200;
                    @include media-breakpoint-down(lg){
                        font-size: 22px;
                    }
                    @include media-breakpoint-down(md){
                        font-size: 20px;
                    }
                    @include media-breakpoint-down(sm){
                        font-size: 18px;
                        line-height: 28px;
                    }
                }
                span{
                    color: $primary;
                    font-size: 50px;
                    font-weight: 400;
                    margin: 25px 0 15px;
                    display: block;
                    @include media-breakpoint-down(lg){
                        font-size: 38px;
                    }
                    @include media-breakpoint-down(md){
                        font-size: 28px;
                    }
                    @include media-breakpoint-down(sm){
                        font-size: 40px;
                    }
                }
                a{
                    color: $full-gray;
                    font-size: 27px;
                    font-style: italic;
                    font-weight: 200;
                    display: block;
                    text-decoration: underline !important;
                    transition: all 0.3s ease-in-out;
                    @include media-breakpoint-down(lg){
                        font-size: 22px;
                    }
                    @include media-breakpoint-down(md){
                        font-size: 20px;
                    }
                    @include media-breakpoint-down(sm){
                        font-size: 18px;
                    }
                    &:hover{
                        opacity: 0.6;
                    }
                }
            }
        }
    }
    .dg-disclosures-modal{
        #disclosuresModalCenter{
            .modal-title{
                font-size: 18px;
                color: $full-gray;
                font-weight: 600;
            }
            .modal-body{
                p{
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 27px;
                    padding: 10px 0;
                    color: $light-gray;
                }
            }
        }
    }
 