 
    .dg-insights-details{
        padding: 92px 0 40px;
        @include media-breakpoint-down(sm){
            padding: 55px 0 30px;
        }
    }
    .dg-blog-details-section{
        .dg-blog-title{
            .dg-subtitle{
                color: $primary;
            }
        }
        .dg-blogs-details-block{
            .dg-blogs-details-list{
                border-bottom: 1px solid rgba(24,0,185,0.10);
                padding-top: 40px;
                @include media-breakpoint-down(sm){
                    padding-top: 30px;
                }
                &.dr-border-none{
                    border-bottom: none;
                }
                .dg-details{
                    h2{
                        font-size: 25px;
                        line-height: 40px;
                        font-weight: 600;
                        color: $full-gray;
                        text-transform: uppercase;
                        position: relative;
                        margin-left: 27px;
                        transition: all 0.3s ease-in-out;
                        @include media-breakpoint-down(md){
                            font-size: 22px;
                            line-height: 32px;
                        }
                        @include media-breakpoint-down(sm){
                            font-size: 18px;
                            line-height: 28px;
                        }
                        &::before{
                            position: absolute;
                            content: '';
                            width: 7px;
                            height: 7px;
                            background: #505050;
                            left: -27px;
                            top: 12px;
                        }
                    }
                    span{
                        font-size: 16px;
                        color: $light-gray;
                        font-weight: 400;
                        display: block;
                        margin: 13px 0 15px;
                        transition: all 0.3s ease-in-out;
                        margin-left: 27px;
                        @include media-breakpoint-down(sm){
                            font-size: 14px;
                        }
                    }
                    .dg-paragraph-text{
                        margin-left: 27px;
                    }
                    .dg-read-more-btn{
                        margin: 35px 0 43px;
                        margin-left: 27px;
                        @include media-breakpoint-down(sm){
                            margin: 20px 0 20px 27px;
                        }
                    }
                    &:hover{
                        h2{
                            color: $primary;
                            cursor: pointer;
                            &::before{
                                background: $primary;
                            }
                        }
                        span{
                            color: $full-gray;
                            cursor: pointer;
                        }
                    }
                }
                .dg-blogs-images{
                    height: 200px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        height: 100%;
                    }
                    @include media-breakpoint-down(md){
                        height: 160px;
                    }
                    @include media-breakpoint-down(sm){
                        height: 110px;
                        margin-bottom: 20px;
                    }
                }
                .dg-subtitle{
                    color: $primary;
                    font-weight: 400;
                    margin-bottom: 25px;
                }
            }
        }
    }
    #exampleModalCenter{
        .modal-title{
            font-size: 14px;
        }
        .modal-body {
            .form-group {
                input {
                    background-color: #FAFAFA;
                    padding: 12px 20px;
                    height: auto;
                    color: rgba(24, 0, 185, 0.5);
                    font-size: 14px;
                    border: none;
                }
            }
        }
    }
 