<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">

    <title>Bootstrap - Button Demo</title>

    <% include /src/include/styles.ejs %>

</head>

<body>

    <% include /src/include/header.ejs %>


        <main>
            <section class="dg-all-pages-banner">
                <div class="container-fluid">
                    <div class="dg-all-pages-banner-title">
                        <h1 class="dg-pages-main-title">About</h1>
                    </div>
                </div>
                <div class="dg-text-block"></div>
                <div class="dg-background-right-side"></div>
            </section>
            <section class="dg-about-page-main">
                <div class="container">
                    <div class="dg-about-page-title" data-aos="fade-up" data-aos-duration="1500">
                        <p class="dg-small-label">About</p>
                        <h2 class="dg-subtitle">The Company</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3" data-aos="fade-up" data-aos-duration="1500">
                            <div class="dg-the-company-details border-animations">
                                <p class="dg-paragraph-text">DigiPli is a New York area consulting firm that helps financial institutions digitize and optimize their Compliance and Anti-MoneyLaundering programs through leveraging the latest intechnological advances. </p>
                                <p class="dg-paragraph-text">DigiPli is also developing a Compliance and AML managed utility,which expects to launch in early 2020.</p>
                            </div>
                        </div>
                    </div>
                    <div class="dg-leadership-team-block">
                        <div class="dg-leadership-title" data-aos="fade-up" data-aos-duration="1500">
                            <h2 class="dg-small-title">Leadership Team</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-6" data-aos="fade-up" data-aos-duration="1500">
                                <div class="dg-leadership-details">
                                    <div class="dg-leader-images">
                                        <img src="images/horvath.png" alt="">
                                    </div>
                                    <div class="dg-leader-details">
                                        <span>Jeff Horvath</span>
                                        <p class="dg-paragraph-text">Co-Founder</p>
                                        <p class="dg-small-title">Refulator lawyer and compliance executive with 20+ years of experience at law firms and large international financial institutions</p>
                                        <a class="dg-small-title dg-linkedin-link" href="">Linkedin.com/in/jeff-horvath/</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" data-aos="fade-up" data-aos-duration="1500">
                                <div class="dg-leadership-details">
                                    <div class="dg-leader-images">
                                        <img src="images/ruiz.png" alt="">
                                    </div>
                                    <div class="dg-leader-details">
                                        <span>Jeff Ruiz</span>
                                        <p class="dg-paragraph-text">Co-Founder</p>
                                        <p class="dg-small-title">Head of Operations. Compliance executive with 17+ years of ‘core’ compliance experience.</p>
                                        <a class="dg-small-title dg-linkedin-link" href="">Linkedin.com/in/jeffrey-ruiz/</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="dg-strategic-partners">
                <div class="container">
                    <div class="dg-partners-logo" data-aos="fade-up" data-aos-duration="1500">
                        <h2 class="dg-small-title">Strategic Partners</h2>
                    </div>
                    <div class="dg-partners-images" data-aos="fade-up" data-aos-duration="1500">
                        <div class="row">
                            <div class="col-6 col-md-3 col-lg-2">
                                <div class="dg-partners-block">
                                    <div class="dg-img">
                                        <img src="images/partner-img1.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3 col-lg-2">
                                <div class="dg-partners-block">
                                    <div class="dg-img">
                                        <img src="images/partner-img2.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3 col-lg-2">
                                <div class="dg-partners-block">
                                    <div class="dg-img">
                                        <img src="images/partner-img3.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3 col-lg-2">
                                <div class="dg-partners-block">
                                    <div class="dg-img">
                                        <img src="images/partner-img4.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3 col-lg-2">
                                <div class="dg-partners-block">
                                    <div class="dg-img">
                                        <img src="images/partner-img5.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3 col-lg-2">
                                <div class="dg-partners-block">
                                    <div class="dg-img">
                                        <img src="images/partner-img6.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="dg-clients-block">
                <div class="container">
                    <div class="dg-partners-logo" data-aos="fade-up" data-aos-duration="1500">
                        <h2 class="dg-small-title">Our Clients</h2>
                    </div>
                    <div class="dg-partners-images" data-aos="fade-up" data-aos-duration="1500">
                        <div class="row">
                            <div class="col-6 col-md-3 col-lg-2">
                                <div class="dg-partners-block">
                                    <div class="dg-img">
                                        <img src="images/partner-img1.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3 col-lg-2">
                                <div class="dg-partners-block">
                                    <div class="dg-img">
                                        <img src="images/partner-img2.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3 col-lg-2">
                                <div class="dg-partners-block">
                                    <div class="dg-img">
                                        <img src="images/partner-img3.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3 col-lg-2">
                                <div class="dg-partners-block">
                                    <div class="dg-img">
                                        <img src="images/partner-img4.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3 col-lg-2">
                                <div class="dg-partners-block">
                                    <div class="dg-img">
                                        <img src="images/partner-img5.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3 col-lg-2">
                                <div class="dg-partners-block">
                                    <div class="dg-img">
                                        <img src="images/partner-img6.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dg-careers-block" data-aos="fade-up" data-aos-duration="1500">
                        <h2 class="dg-small-title">Careers</h2>
                        <p class="dg-paragraph-text">If you’re a Compliance, AML or technology professional interested in helping financial institutions optimize their Compliance and AML programs, join the team!</p>
                        <h4>DigiPli is currently looking for talented people to fill the following roles:</h4>
                    </div>
                    <div class="dg-careers-sections">
                        <div class="dg-careers-details-block-main" data-aos="fade-up" data-aos-duration="1500">
                            <div class="dg-details-list-main">
                                <div class="dg-details-block">
                                    <h3 class="dg-inner-pages-small-title">Sales & Marketing</h3>
                                    <span class="dg-paragraph-text mb-0">New York</span>
                                </div>
                                <p class="dg-paragraph-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                <a href="" class="dg-read-more-btn" data-toggle="modal" data-target="#exampleModalCenter">APPLY</a>
                            </div>
                        </div>
                        <div class="dg-careers-details-block-main" data-aos="fade-up" data-aos-duration="1500">
                            <div class="dg-details-list-main">
                                <div class="dg-details-block">
                                    <h3 class="dg-inner-pages-small-title">Technologist</h3>
                                    <span class="dg-paragraph-text mb-0">New York</span>
                                </div>
                                <p class="dg-paragraph-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                <a href="" class="dg-read-more-btn" data-toggle="modal" data-target="#exampleModalCenter">APPLY</a>
                            </div>
                        </div>
                        <div class="dg-careers-details-block-main" data-aos="fade-up" data-aos-duration="1500">
                            <div class="dg-details-list-main">
                                <div class="dg-details-block">
                                    <h3 class="dg-inner-pages-small-title">AML Specialist</h3>
                                    <span class="dg-paragraph-text mb-0">New York</span>
                                </div>
                                <p class="dg-paragraph-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                <a href="" class="dg-read-more-btn" data-toggle="modal" data-target="#exampleModalCenter">APPLY</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Share your name and email and we will send you the materials</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="" class="dg-form">
                                <div class="form-group">
                                    <input type="text" class="form-control"  placeholder="Name">                            
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control"  placeholder="Email">                            
                                </div>
                                <div class="dg-btn-footer">
                                    <div class="dg-uplod-file">
                                        <input type="file">
                                        <button type="button" class="btn">Uplod Resume</button>
                                    </div>
                                    <div class="form-group text-center mb-0">
                                        <button type="button" class="btn">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
             
        </main>

    <% include /src/include/footer.ejs %>

        <% include /src/include/scripts.ejs %>
        <script>
            $('button.hello').click(function (e) {
                swal("Hello world!");
            });

            $('button.delete-account').click(function (e) {
                swal("Good job!", "You clicked the button!", "success");
            });

            $('button.promises').click(function (e) {
                swal("Click on either the button or outside the modal.")
                    .then((value) => {
                        swal(`The returned value is: ${value}`);
                    });
            });

            $('button.sure').click(function (e) {
                swal({
                    title: "Are you sure?",
                    text: "Once deleted, you will not be able to recover this imaginary file!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            swal("Poof! Your imaginary file has been deleted!", {
                                icon: "success",
                            });
                        } else {
                            swal("Your imaginary file is safe!");
                        }
                    });
            });

        </script>
    </body>

</html>