<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">

    <title>Bootstrap - Button Demo</title>

    <% include /src/include/styles.ejs %>

</head>

<body>

    <% include /src/include/header.ejs %>


        <main>
            <section class="dg-all-pages-banner">
                <div class="container-fluid">
                    <div class="dg-all-pages-banner-title">
                        <h1 class="dg-pages-main-title">Contact Us</h1>
                    </div>
                </div>
                <div class="dg-text-block"></div>
                <div class="dg-background-right-side"></div>
            </section>
            <section class="dg-contact-su-sections">
                <div class="container">
                    <div class="dg-address-block" data-aos="fade-up" data-aos-duration="1500">
                        <p><span class="dg-bold-title">Address: </span>95 Christopher Columbus Drive, 16th FL Jersey City, NJ 07302</p>
                        <p><span class="dg-bold-title">Email: </span>support@digipli.com</p>
                        <p><span class="dg-bold-title">Phone: </span>(201) 255-9440</p>
                        <p><span class="dg-bold-title">LinkedIn: </span>linkedin.com/company/digipli-inc/</p>
                    </div>
                </div>
            </section>
             
             
        </main>

    <% include /src/include/footer.ejs %>

   <% include /src/include/scripts.ejs %>
   
</body>

</html>