<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">
    
    <title>Bootstrap - Button Demo</title>

    <% include /src/include/styles.ejs %>

</head>

<body>

    <% include /src/include/header.ejs %>

        <main>
            <section class="dg-banner-main-block">
                <div class="dg-top-images-fix"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-5" data-aos="fade-up" data-aos-duration="1500">
                            <div class="dg-banner-img-block">
                                <div class="dg-img-block">
                                    <img src="images/home-banner.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7" data-aos="fade-up" data-aos-duration="1500">
                            <div class="dg-banner-details-block">
                                <h1 class="dg-pages-main-title">Compliance and AML Solutions for The <span>Digital</span> Age</h1>
                                <button type="button" class="btn" href="#dg-footer-section" id="contactbtn">Contact us</button>
                            </div>
                        </div>
                    </div>
                    <div class="dg-scroll-down-block" data-aos="fade-up" data-aos-duration="1500">
                        <a href="" class="dg-scroll-icon">Scroll Down</a>
                    </div>
                </div>
                <div class="dg-rightside-images"></div>
            </section>
            <section class="dg-lesus-section">
                <div class="container">
                    <div class="dg-lesus-assist-title" data-aos="fade-up" data-aos-duration="1500">
                        <h2 class="dg-subtitle">Les us <span>assist</span> you with….</h2>
                    </div>
                    <div class="dg-process-block-main">
                        <div class="row" data-aos="fade-up" data-aos-duration="1500">
                            <div class="col-md-4">
                                <div class="dg-arrow-left-side"></div>
                                <div class="dg-process-details-box">
                                    <p class="dg-small-title">Program Design & Enhancement</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="dg-up-arrow-and-down-arrow"></div>
                                <div class="dg-process-details-box">
                                    <p class="dg-small-title">Process & Control Automation</p>
                                </div>
                                <div class="dg-up-arrow-and-down-arrow"></div>
                            </div>
                            <div class="col-md-4">
                                <div class="dg-arrow-left-side dg-arrow-right"></div>
                                <div class="dg-process-details-box">
                                    <p class="dg-small-title">Cost Reductions & Efficiency Increases</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dg-top-images-fix"></div>
            </section>
            <section class="dg-the-worldis-changing-section">
                <div class="dg-rightside-images"></div>
                <div class="container">
                    <div class="dg-world-details-block" data-aos="fade-up" data-aos-duration="1500">
                        <h2 class="dg-subtitle">The World is changing.</h2>
                        <h3 class="dg-small-title">Are your Compliance & Anti_Money Laundering programs up to the challenge?</h3>
                        <p class="dg-paragraph-text">Private Sector innovation, including new ways of using existing tools or adoption new technologies, can help banks identify and report money laundering, terrorist financing, and other illicit financial activity by enhancing the effectiveness and efficiency of banks’ BSA / AML compliance programs,</p>
                        <h3 class="dg-small-title">US Banking Regulators’ Joint Statement on Innovative Efforts to Combat Money Laundering and Terrorist Financing, December 3, 2019</h3>
                    </div>
                    <div class="dg-amount-details-block" data-aos="fade-up" data-aos-duration="1500">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="dg-amount-box">
                                    <h4>Amount Spent on Compliance & AML Per Year</h4>
                                    <span>59%</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="dg-amount-box">
                                    <h4>Amount of regulatory fines since financial crises </h4>
                                    <span>$29m</span>
                                    <a href="" data-toggle="modal" data-target="#disclosuresModalCenter">Disclosures</a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="dg-amount-box">
                                    <h4>Average number of regulatory changes per day</h4>
                                    <span>200</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="dg-disclosures-modal">
                <div class="modal fade" id="disclosuresModalCenter" tabindex="-1" role="dialog" aria-labelledby="disclosuresModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="disclosuresModalCenterTitle">Disclosures</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <p>Compliance and AML spend data courtesy of International Banker, The Cost of Compliance (November, 2018). Amount of regulatory fines and number of regulatory changes courtesy of the Boston Consulting Group, Global Risk 2018: Future-Proofing the Bank Risk Agenda (February, 2018).</p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </main>

        <% include /src/include/footer.ejs %>

            <% include /src/include/scripts.ejs %>
            <!-- <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
            <script>
              AOS.init();
            </script> -->

            
</body>

</html>