<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">

    <title>Bootstrap - Button Demo</title>

    <% include /src/include/styles.ejs %>

</head>

<body>

    <% include /src/include/header.ejs %>


        <main>
            <section class="dg-all-pages-banner">
                <div class="container-fluid">
                    <div class="dg-all-pages-banner-title">
                        <h1 class="dg-pages-main-title">Insights</h1>
                    </div>
                </div>
                <div class="dg-text-block"></div>
                <div class="dg-background-right-side"></div>
            </section>
            <section class="dg-insights-details" data-aos="fade-up" data-aos-duration="1500">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="dg-browse">
                                <h4 class="dg-inner-pages-small-title">Browse our content to keep updated on trends in Compliance and AML innovation</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="dg-blog-details-section">
                <div class="container">
                    <div class="dg-blog-title" data-aos="fade-up" data-aos-duration="1500">
                        <h2 class="dg-subtitle">Blogs</h2>
                    </div>
                    <div class="dg-blogs-details-block">
                        <div class="dg-blogs-details-list" data-aos="fade-up" data-aos-duration="1500">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="dg-details">
                                        <h2>JOIN RDC IN SUPPORTING NATIONAL HUMAN TRAFFICKING AWARENESS DAY</h2>
                                        <span>By Michael Kerman | January 10, 2019</span>
                                        <p class="dg-paragraph-text">Join RDC and the Department of Homeland Security in wearing Blue on January 11, 2019 to recognize National Human Trafficking Awareness Day. Learn more about what RDC is doing to put an end to this heinous, global crime.</p>
                                        <a href="" class="dg-read-more-btn">READ MORE</a>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="dg-blogs-images">
                                        <img src="images/fatf-01.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dg-blogs-details-list" data-aos="fade-up" data-aos-duration="1500">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="dg-details">
                                        <h2>MY COMPLIANCE WISHES FOR 2019</h2>
                                        <span>By Michael Kerman | December 27, 2018</span>
                                        <p class="dg-paragraph-text">It’s hard to believe that 2018 is coming to an end. At first, I was tempted to blog in a “2018 Retrospective” manner, but it just didn’t seem inspiring. Instead,I thought I’d share with you some of my wishes for 2019, from a financial compliance perspective.</p>
                                        <a href="" class="dg-read-more-btn">READ MORE</a>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="dg-blogs-images">
                                        <img src="images/finra.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dg-blogs-details-list dr-border-none" data-aos="fade-up" data-aos-duration="1500">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="dg-details">
                                        <h2>MAKING NEGATIVE NEWS A POSITIVE FOR FINTECH COMPANIES</h2>
                                        <span>By Joel Cope | December 18, 2018</span>
                                        <p class="dg-paragraph-text">Adverse media, or negative news, is an important component in the anti-money laundering (AML) programmes of many banks and large financial institutions, despite not being a regulatory requirement in the US, UK or EU. But can the same be said of fintech companies? And how successful have compliance teams found the tool in the fight against financial crime?</p>
                                        <a href="" class="dg-read-more-btn">READ MORE</a>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="dg-blogs-images">
                                        <img src="images/U.C-03.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dg-blogs-details-list dr-border-none" data-aos="fade-up" data-aos-duration="1500">
                            <h3 class="dg-subtitle">White Papers</h3>
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="dg-details">
                                        <h2>MAKING NEGATIVE NEWS A POSITIVE FOR FINTECH COMPANIES</h2>
                                        <span>By Joel Cope | December 18, 2018</span>
                                        <p class="dg-paragraph-text">Adverse media, or negative news, is an important component in the anti-money laundering (AML) programmes of many banks and large financial institutions, despite not being a regulatory requirement in the US, UK or EU. But can the same be said of fintech companies? And how successful have compliance teams found the tool in the fight against financial crime?</p>
                                        <a href="" class="dg-read-more-btn" data-toggle="modal" data-target="#exampleModalCenter">READ MORE</a>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="dg-blogs-images">
                                        <img src="images/U.C-03.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dg-blogs-details-list dr-border-none" data-aos="fade-up" data-aos-duration="1500">
                            <h3 class="dg-subtitle">Case Studies</h3>
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="dg-details">
                                        <h2>MAKING NEGATIVE NEWS A POSITIVE FOR FINTECH COMPANIES</h2>
                                        <span>By Joel Cope | December 18, 2018</span>
                                        <p class="dg-paragraph-text">Adverse media, or negative news, is an important component in the anti-money laundering (AML) programmes of many banks and large financial institutions, despite not being a regulatory requirement in the US, UK or EU. But can the same be said of fintech companies? And how successful have compliance teams found the tool in the fight against financial crime?</p>
                                        <a href="" class="dg-read-more-btn mb-0" data-toggle="modal" data-target="#exampleModalCenter">READ MORE</a>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="dg-blogs-images">
                                        <img src="images/finra.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Share your name and email and we will send you the materials</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="" class="dg-form">
                                <div class="form-group">
                                    <input type="text" class="form-control"  placeholder="Name">                            
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control"  placeholder="Email">                            
                                </div>
                                <div class="form-group text-center mb-0">
                                    <button type="button" class="btn">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    <% include /src/include/footer.ejs %>

        <% include /src/include/scripts.ejs %>
        <script>
            $('button.hello').click(function (e) {
                swal("Hello world!");
            });

            $('button.delete-account').click(function (e) {
                swal("Good job!", "You clicked the button!", "success");
            });

            $('button.promises').click(function (e) {
                swal("Click on either the button or outside the modal.")
                    .then((value) => {
                        swal(`The returned value is: ${value}`);
                    });
            });

            $('button.sure').click(function (e) {
                swal({
                    title: "Are you sure?",
                    text: "Once deleted, you will not be able to recover this imaginary file!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            swal("Poof! Your imaginary file has been deleted!", {
                                icon: "success",
                            });
                        } else {
                            swal("Your imaginary file is safe!");
                        }
                    });
            });

        </script>
    </body>

</html>