<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">

    <title>Bootstrap - Button Demo</title>

    <% include /src/include/styles.ejs %>

</head>

<body>

    <% include /src/include/header.ejs %>


        <main>
            <section class="dg-all-pages-banner">
                <div class="container-fluid">
                    <div class="dg-all-pages-banner-title">
                        <h1 class="dg-pages-main-title">Insights Detail</h1>
                    </div>
                </div>
                <div class="dg-text-block"></div>
                <div class="dg-background-right-side"></div>
            </section>
            <section class="dg-insights-details-page">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="dg-subtitle" data-aos="fade-up" data-aos-duration="1500">JOIN RDC IN SUPPORTING NATIONAL HUMAN TRAFFICKING AWARENESS DAY</h3>
                            <span class="dg-share-title" data-aos="fade-up" data-aos-duration="1500">By Michael Kerman | January 10, 2019</span>
                            
                           <ul class="dg-social-icons-list" data-aos="fade-up" data-aos-duration="1500">
                                <h4>SHARE:</h4>
                               <li><a href=""><img src="images/facebook.svg" alt=""> </a></li>
                               <li><a href=""><img src="images/linkedin.svg" alt=""> </a></li>
                               <li><a href=""><img src="images/pinterest.svg" alt=""> </a></li>
                               <li><a href=""><img src="images/twitter.svg" alt=""> </a></li>
                               <li><a href=""><img src="images/whatsapp.svg" alt=""> </a></li>
                           </ul>
                           <div class="dg-join-us-details-block">
                               <p class="dg-paragraph-text" data-aos="fade-up" data-aos-duration="1500">As a compliance professional, you understand how important it is to identify potential human traffickers and keep them out of your portfolio. What you might not realize is that Human Trafficking, also known as ‘Modern Slavery’, is a $150B-a-year industry and there are more than 40 million individuals in slavery situations. Worse yet, more than 70% of those impacted by human trafficking are women and children.</p>
                               <p class="dg-paragraph-text" data-aos="fade-up" data-aos-duration="1500">While RDC has a passion for preventing criminal infiltration of the global financial system, we have an extra-special, zealous focus on stopping human trafficking. We hope you will join us in supporting National Human Trafficking Awareness Day on January 11, 2019. The Department of Homeland Security (DHS) launched #WearBlueDay to call attention to their effort to combat human trafficking.  So, we hope you will join us and wear something blue... a shirt, jacket, tie, hat, dress… it doesn’t matter.  Please post a photo of you, your friends or family or your entire office on social media (Twitter, Instagram, Facebook, LinkedIn) with the hashtag #WearBlueDay.</p>
                               <p class="dg-paragraph-text" data-aos="fade-up" data-aos-duration="1500">Stay tuned to RDC.com for other interesting announcements regarding this important day.</p>
                               <p class="dg-paragraph-text" data-aos="fade-up" data-aos-duration="1500">In the meantime, please check out some of the recent news regarding RDC’s fight against Human Trafficking:</p>
                               <p class="dg-paragraph-text" data-aos="fade-up" data-aos-duration="1500">RDC Takes Bold Step in the Fight Against Human Trafficking</p>
                               <p class="dg-paragraph-text" data-aos="fade-up" data-aos-duration="1500">RDC and Mekong Club Collaborate to End Human Trafficking</p>
                               <p class="dg-paragraph-text" data-aos="fade-up" data-aos-duration="1500">Webinar:  Combatting Human Trafficking and Modern Slavery – What Financial Institutions Should Know</p>
                               <p class="dg-paragraph-text" data-aos="fade-up" data-aos-duration="1500">Follow the DHS campaign on Twitter <span class="dg-details-bold"> @DHSBlueCampaign </span> for more information on <span class="dg-details-bold"> #WearBlueDay </span> and National Human Trafficking Awareness Day.</p>
                           </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="dg-slider-block-main">
                <div class="container">
                    <div class="dg-next-and-prev-btn-block">                       
                        <div class="swiper-button-prev">PREV</div>
                        <div class="swiper-button-next">NEXT</div>
                    </div> 
                    <div class="swiper-container" data-aos="fade-up" data-aos-duration="1500">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="dg-insights-detail-slide">
                                    <div class="">
                                        <h5>MY COMPLIANCE WISHES FOR 2019</h5>
                                        <span class="dg-date-list">By Michael Kerman | December 27, 2018</span>
                                        <p class="dg-paragraph-text">It’s hard to believe that 2018 is coming to an end. At first, I was tempted to blog in a “2018 Retrospective” manner, but it just didn’t seem inspiring. Instead, I thought I’d share with you some of my wishes for 2019, from a financial compliance ….</p>
                                    </div>
                                   <div class="dg-slider-read-more-btn">
                                        <a href="" class="dg-read-more-btn m-0">READ MORE</a>
                                   </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="dg-insights-detail-slide">
                                    <div>
                                        <h5>MAKING NEGATIVE NEWS A POSITIVE FOR FINTECH COMPANIES</h5>
                                        <span class="dg-date-list">By Michael Kerman | December 27, 2018</span>
                                        <p class="dg-paragraph-text">It’s hard to believe that 2018 is coming to an end. At first, I was tempted to blog in a “2018 Retrospective” manner, but it just didn’t seem inspiring. Instead, I thought I’d share with you some of my wishes for 2019, from a financial compliance ….</p>
                                    </div>
                                    <div class="dg-slider-read-more-btn">
                                            <a href="" class="dg-read-more-btn m-0">READ MORE</a>
                                       </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="dg-insights-detail-slide">
                                    <div>
                                        <h5>MY COMPLIANCE WISHES FOR 2019</h5>
                                        <span class="dg-date-list">By Michael Kerman | December 27, 2018</span>
                                        <p class="dg-paragraph-text">It’s hard to believe that 2018 is coming to an end. At first, I was tempted to blog in a “2018 Retrospective” manner, but it just didn’t seem inspiring. Instead, I thought I’d share with you some of my wishes for 2019, from a financial compliance ….</p>
                                    </div>                                    
                                    <div class="dg-slider-read-more-btn">
                                            <a href="" class="dg-read-more-btn m-0">READ MORE</a>
                                       </div>
                                </div>
                            </div>
                        </div>
                        <!-- Add Pagination -->
                        <!-- Add Arrows -->
                        
                    </div>
                </div>
            </section>
        </main>

    <% include /src/include/footer.ejs %>

        <% include /src/include/scripts.ejs %>
        <script src="../dist/js/swiper.min.js"></script>
        <script>
            var swiper = new Swiper('.swiper-container', {
                slidesPerView: 2,
                spaceBetween: 30,
                breakpoints: {
                // when window width is <= 320px
                    575: {
                    slidesPerView: 1,
                    spaceBetween: 10
                    },
                },
                pagination: {
                type: 'fraction',
                },
                navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
                },
            });

           

        </script>
    </body>

</html>